 {% extends 'crime/RIBStation/mainStation.html' %}

{% block content %}
{%  include 'crime/RIBStation/statusStation.html' %}

<br>
<div class="row">

<h5>Crime Case:</h5>
<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_case' %}">Add Crime Case
</a>
<table class="table table-sm">
<tr>
<th>CaseCode</th>
<th>Victim</th>
<th>Phone</th>
<th>Type</th>
<th>Status</th>
<th>Officer</th>
{% comment %} <th>Update</th> {% endcomment %}
<th>Delete</th>
{% comment %} <th>Add Suspect</th>
<th>Suspects</th>  {% endcomment %}
</tr>
{% for case in page_obj %}
		<tr>
			<td>{{case.case_name}}</td>
			<td>{{case.victim_name}}</td>
			<td>{{case.reporter_phone}}</td>
			<td>{{case.crimeType}}</td>			
			<td>{{case.status}}</td>
			<td>{{case.stationuser}}</td>
			{% comment %} <td><a class="btn btn-sm btn-info" href="{% url 'update_case' case.id %}">Update</a></td> {% endcomment %}
			{% comment %} Put this code inside to Delete{% url 'delete_case' case.id %} {% endcomment %}
			<td><a class="btn btn-sm btn-danger" href="{% url 'errorDeleteCase' %}">Delete</a></td>
			
			
			
			{% comment %} <td><a class="btn btn-sm btn-primary" href="{% url 'create_suspect' case.id %}">Add Suspect</a></td>
			<td><a class="btn btn-sm btn-primary" href="{% url 'viewCaseSuspects' case.id %}">View Suspects</a></td> {% endcomment %}

		{% comment %} {% url 'update_case' order.id %}
		{% url 'delete_case' order.id %} {% endcomment %}
		</tr>
{% endfor %}

</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</div>


{% comment %} <div class="col-md-12">
<h5>Add Officer:</h5>
<hr>
<div class="card card-body">
<a class="btn btn-primary btn-sm btn-block" href="{% url 'createOfficer' %}">Add Officers
</a> {% endcomment %}

{% endblock %} 
   
