{% extends 'crime/RIBStation/mainStation.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>List of Officers in <strong>{{user}}</strong></h5>
				</div>
				<div class="card card-body">
					<table class="table">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'createOfficer' %}">Add Station Officer</a>
					
						<tr>
                            <th>User Name</th>
							<th>Identification</th>
							<th>First Name</th>	
                            <th>Last Name</th>
							<th>Gender</th>
							<th>Phone</th>
                            <th>Email</th>
							<th>Rank</th>
							<th>Join Year</th>	
                            <th>Officer Image</th>						
						</tr>
						{% for i in officers %}
							<tr>
								<td>{{i.user}}</td>
								<td>{{i.nationalId}}</td>
								<td>{{i.f_name}}</td>
                                <td>{{i.l_name}}</td>
								<td>{{i.gender}}</td>
								<td>{{i.phone}}</td>
                                <td>{{i.email}}</td>
								<td>{{i.rank}}</td>
								<td>{{i.recruit_year}}</td>
                                <td>{{i.officerimage}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}