{% load static %}

<!DOCTYPE html>
<html>
   <title>SCSEA</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
   <script src="{% static '/chartjs/chart.min.js' %}"></script>
   <script src="{% static '/chartjs/jquery-3.3.1.minjs' %}"></script>
   <script src="{% static '/chartjs/chartjs-plugin-datalabels.js' %}"></script>
   <link rel="stylesheet" href="{% static '/charcss/chart.min.css'%}">
   <link rel="stylesheet" href="{% static '/charcss/semantic.min.css'%}">
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

   

   {% block styles %}{% endblock styles %}
  
</head>
<body>
   {% include  'crime/RIBHQ/navbarHq.html' %}
   <div class="container-fluid">
   {% block content %}

   
   
   {% endblock %}  
    </div>
   <hr>
    <img src="{% static 'images/pattern.png' %}"" alt="logo" height="20" width="1500">
</body>
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
   {% for message in messages %}
   alertify.set('notifier','position', 'top-center');
   alertify.success('{{message}}');
   {% endfor %}
</script>
</html>

