{% extends 'crime/RIBHQ/mainHq.html' %}

{% block content %}
<!--Message line-->
{% block myheader %}
{% for message in messages %}
<div class="alert alert-success">
  <strong>Success!</strong> {{message}}.
</div>    
{% endfor %}
{% endblock %}
<!--End of Message line-->
	
		<div class="row">
			<div class="col-md">
				<div class="card card-body">

					<h5>All Questions to be Asked</h5>
				
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createQuestionForSuspect' %}">Add Question</a>
    
				<div class="card card-body">
					<table class="table">
						<tr>
                            <th>Question Id</th>
							<th>Question Name</th>
														
						</tr>
						{% for question in questions %}
							<tr>
								<td>{{question.id}}</td>
								<td>{{question.questionName}}</td>
								
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}