{% extends 'crime/RIBHQ/mainHq.html' %}

{% block content %}
<!--Message line-->
{% block myheader %}
{% for message in messages %}
<div class="alert alert-success">
  <strong>Success!</strong> {{message}}.
</div>    
{% endfor %}
{% endblock %}
<!--End of Message line-->

<br>
<div class="row">

<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'createRIBStation' %}">Add RIBStations
</a>
<table class="table table-sm">
<tr>
<th>User</th>
<th>Station Name</th>
<th>Location</th>
{% comment %} <th>Update</th> {% endcomment %}
<th>Delete</th>
</tr>
{% for station in stations %}
		<tr>
			<td>{{station.user}}</td>
			<td>{{station.station_name}}</td>
			<td>{{station.province}}</td>
			 {% comment %} <td><a class="btn btn-sm btn-info" href="">Update</a></td> {% endcomment %}
			 <td><a class="btn btn-sm btn-danger" href="{% url 'errorDelete' %}">Delete</a></td>

	 
		</tr>
{% endfor %} 

</table>

{% endblock content %}