{%  extends 'crime/StationOfficer/mainOfficer.html' %}


{% block content %}


 <br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
                    <h3>Suspects on Case with Code:"{{case.case_name}}" Case type:"{{case.crimeType}}"</h3>
				</div>
				<div class="card card-body">
					<table class="table table-sm">
                        <tr>
                        <th>Suspect ID</th>
                        <th>Suspect Name</th>
                        <th>Phone</th>
                        <th>Date Arrested</th>
                        <th>Relation</th>
                        
                        </tr>
                        {% for suspect in suspects %}
                                            <tr>
                                                <td>{{suspect.suspectNID}}</td>
                                                <td>{{suspect.f_name}} {{suspect.l_name}}</td>
                                                <td>{{suspect.phone}}</td>
                                                <td>{{suspect.date_arrested}}</td>
                                    
                                                <td>{{suspect.relation}}</td>
                               
                                            </tr>
                                        {% endfor %}
                                        {% comment %} <a class="btn btn-sm btn-info" href="{% url 'presentPrimarySuspect'%}">Present Primary Suspects on this case</a> {% endcomment %}

                        </table>
				</div>
			</div>
			
		</div>

{% endblock %}