{%  extends 'crime/StationOfficer/mainOfficer.html' %}

{% block content %}
{%  include 'crime/StationOfficer/statusOfficer.html' %}

<!--Message line-->

<!--End of Message line-->
<br>
<div class="row">

<h5>Crime Case Assigned To Me:</h5>
<hr>
		<div class="card card-body">
			{% comment %} <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_case' %}">Add Crime Case
</a> {% endcomment %}
<table class="table table-sm">
<tr>
	{% for case in cases %}
{% if case.status == 'Pending' %} 
<th>CaseCode</th>
<th>CaseVictim</th>
<th>ReporterPhone</th>
<th>CaseType</th>
<th>CaseStatus</th>
<th>CaseOfficer</th>
{% endif %}
{% endfor %}

{% for case in cases %}
{% if case.status != 'Finished' and case.status != 'Studied' %} 
<th>Add Suspect</th>
{% endif %}
{% endfor %}
<th>Suspects Info</th>
</tr>
{% for case in page_obj %}
		<tr>
			<td>{{case.case_name}}</td>
			<td>{{case.victim_name}}</td>
			<td>{{case.reporter_phone}}</td>
			<td>{{case.crimeType}}</td>			
			<td>{{case.status}}</td>
			<td>{{case.stationuser}}</td>

			{% if case.status != 'Finished' %}        
			<td><a class="btn btn-sm btn-primary" href="{% url 'create_suspect' case.id %}">Add Suspect</a></td>
			{% endif %}
			
			<td><a class="btn btn-sm btn-primary" href="{% url 'viewCaseSuspects' case.id %}">View Suspects</a></td>
		
		</tr>
{% endfor %}

</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</div>

{% endblock %}
   
