{%  extends 'crime/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="row">
<h2>Case Registration</h2>
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				{{form.case_name|as_crispy_field}}
				{{form.crimeType|as_crispy_field}}
				{{form.victim_name|as_crispy_field}}
				{{form.reporter_name|as_crispy_field}}
				{{form.reporter_phone|as_crispy_field}}
				{{form.victim_address|as_crispy_field}}
				{{form.officer|as_crispy_field}}
				{{form.case_desc|as_crispy_field}}
				{% comment %} {{form.status|as_crispy_field}} {% endcomment %}
				<center>
				<a class="btn btn-warning" href="{% url 'home_Station' %}">Cancel</a>
				<input type="submit" name="Submit" class="btn btn-info">
			</form>

		</div>
	</div>
</div>


{% endblock %}