{%  extends 'crime/mainOfficer.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>

    form button{
        margin-right: 170px;
    }

    .contain{
        display: flex;
    }
    .form-group {
        width: 70%;
    }

</style>

<div class="row">
<h1>Evidence Registration for Suspect "<strong>{{suspect.l_name}} {{suspect.f_name}}</strong>"</h1>
	<div class="col-md-12">
		<div class="card card-body">
            
			<form action="" method="POST">
				{% csrf_token %}
				<div class="contain">
				{% comment %} {{form.suspect|as_crispy_field}} {% endcomment %}
				{{form.evidenceCategory|as_crispy_field}}
				{{form.evidence_note|as_crispy_field}}				
				{{form.officerimage|as_crispy_field}}
				{{form.points|as_crispy_field}}
			
				
				<center>
				<a class="btn btn-warning" href="{% url 'evidence' %}">Cancel</a>
				<input type="submit" name="Submit" class="btn btn-info"></div>
			</form>

		</div>
	</div>
</div>


{% endblock %}