 {% extends 'crime/mainHq.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>All RIBStations In RWANDA</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
                            <th>Station User</th>
							<th>Station Name</th>
							<th>Province</th>							
						</tr>
						{% for station in stations %}
							<tr>
								<td>{{station.user}}</td>
								<td>{{station.station_name}}</td>
								<td>{{station.province}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}